.grid-container{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: 50PX 50PX;
	grid-template-areas: auto auto auto;
	column-gap:5px;
	row-gap:5px;
}

.grid-item{
	background-color:#f2f2f2;
	border: 1px solid #ccc;
	text-align:center;
}